<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" href="{{path('index')}}">
		<font style="vertical-align: inherit;">
			<font style="vertical-align: inherit;">
				Mon Blog
			</font>
		</font>
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="# navbarColor01" aria-controls="navbarColor01" aria-extended="false" aria-label="Basculer la navigation ">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item ">
				<a class="nav-link" href="{{path('accueil')}}">
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">
							Accueil
						</font>
					</font>
				</a>
			</li>
			<li class="nav-item">
				{% if app.user and "ROLE_ADMIN" in app.user.getRoles() %}
					<a class="nav-link" href="{{path('formulaire')}}">
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">
								Nouvel Article
							</font>
						</font>
					</a>
				{% endif %}
			</li>
			{% if not app.user %}
			<li class="nav-item">
				<a class="nav-link" href="{{path('app_register')}}">
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">
							Inscription
						</font>
					</font>
				</a>
			</li>
			{% endif %}
			<li class="nav-item">
				{% if app.user and "ROLE_ADMIN" in app.user.getRoles() %}
					<a class="nav-link" href="{{path('admin')}}">
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">
								Tableau de Bord
							</font>
						</font>
					</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if app.user %}
					<a class="nav-link" href="{{path('app_logout')}}">
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">
								Déconnexion
							</font>
						</font>
					</a>
				{% else %}
					<a class="nav-link" href="{{path('app_login')}}">
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">
								Connexion
							</font>
						</font>
					</a>
				{% endif %}
			</li>
		</ul>

	</div>
	<div class="text-right mr-3 font-weight-bold">
		{% if app.user %}
			Bonjour
			{{app.user.pseudo}}
		{% endif %}
	</div>
</nav>
